html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}
html {
  background: white;
  font-size: 19px;
  line-height: 1.4;
  font-family: mycode;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
body {
  color: rgba(0, 0, 0, 0.8);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
em em {
  font-style: normal;
}
p,
ul,
ol,
dl,
blockquote,
figure,
div.update,
div.highlight,
div.box,
aside.box {
  margin: 0.8em 0;
}
li,
li > p,
li > blockquote,
li > ul,
li > ol {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
dt {
  font-weight: 600;
}
dd {
  margin-bottom: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}
h1 {
  clear: both;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h2 {
  clear: both;
  font-size: 1.15rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h1 + h2,
h2 + h3,
h1 + p,
h2 + p,
h3 + p,
h1 + ul,
h2 + ul,
h3 + ul,
h1 + ol,
h2 + ol,
h3 + ol {
  margin-top: 0.5rem;
}
ul {
  list-style: square outside;
  padding-left: 1.5em;
}
ol {
  list-style: decimal outside;
  padding-left: 1.5em;
}
blockquote {
  border-left: 8px solid #96bae9;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  margin-left: 0;
  margin-right: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media screen and (max-width: 767px) {
  blockquote {
    border-left: 4px solid #96bae9;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 0;
  }
}
q:after {
  content: close-quote;
}
q:before {
  content: open-quote;
}
blockquote,
q {
  quotes: "“" "”" "‘" "’";
}
:lang(de) > blockquote,
:lang(de) > q {
  quotes: "„" "“" "‚" "‘";
}
div.pull-quote {
  font-size: 1.5rem;
  margin: 2rem 5rem;
  padding: 0.5rem 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  div.pull-quote {
    font-size: 1.3rem;
    margin: 1.5rem 2rem;
    padding: 0.5rem 0;
  }
}
div.pull-quote:before,
div.pull-quote:after {
  background-color: seagreen;
  content: "";
  height: 2px;
  margin: 0 auto;
  position: absolute;
  left: 20%;
  width: 60%;
}
div.pull-quote:before {
  top: 0;
}
div.pull-quote:after {
  bottom: 0;
}
div.pull-quote strong {
  font-weight: inherit;
}
div.pull-quote blockquote {
  padding: 0;
  border: none;
  font: inherit;
}
div.pull-quote blockquote > p:first-child {
  text-indent: -1ex;
}
div.pull-quote blockquote > p:first-child:before {
  content: open-quote;
}
div.pull-quote blockquote > p:last-child:after {
  content: close-quote;
}
del {
  text-decoration: line-through;
}
strong {
  font-weight: 600;
}
small,
.small {
  font-size: 0.9em;
}
sup {
  font-size: 0.75em;
  vertical-align: super;
}
sup a {
  border: none !important;
}
hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-right: none;
  border-top: none;
  clear: both;
  margin: 3rem auto;
  width: 8rem;
}
p > *:first-child,
ul > *:first-child,
ol > *:first-child,
li > *:first-child,
dl > *:first-child,
dt > *:first-child,
dd > *:first-child,
blockquote > *:first-child,
figure > *:first-child {
  margin-top: 0;
}
p > *:last-child,
ul > *:last-child,
ol > *:last-child,
li > *:last-child,
dl > *:last-child,
dt > *:last-child,
dd > *:last-child,
blockquote > *:last-child,
figure > *:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .align-left {
    clear: left;
    float: left;
    margin-right: 1rem;
  }
  .align-right {
    clear: right;
    float: right;
    margin-left: 1rem;
  }
  .align-left figure,
  .align-right figure {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.text-center {
  text-align: center;
}
.very-small {
  font-size: 0.85em;
}
.unimportant {
  color: #6b6b6b;
}
.profit {
  color: #008000;
}
.loss {
  color: #800000;
}
.no-border {
  border: none;
}
span.update,
div.update {
  font-style: italic;
}
div.box,
aside.box {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  padding: 0.75rem 1rem;
}
@media screen and (max-width: 767px) {
  div.box,
  aside.box {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
div.box blockquote,
aside.box blockquote {
  border-left: 1px solid #cccccc;
}
div.large-box {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  padding: 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
div.large-box blockquote {
  border-left: 1px solid #cccccc;
}
div.large-box > h1,
div.large-box > h2,
div.large-box > h3 {
  margin-top: 0.3rem;
}
.feed-icon {
  height: 1rem;
  width: 1rem;
  vertical-align: -8%;
}
.media-item {
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 767px) {
  .media-item {
    flex-flow: column nowrap;
  }
}
.media-item > .media-item-image > figure {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .media-item > .media-item-image {
    -ms-grid-row-align: center;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .media-item > .media-item-image {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .media-item > .media-item-body-text {
    flex: 1;
  }
  .media-item > .media-item-body-text *:first-child {
    margin-top: 0;
  }
}
blockquote.tweet {
  border: 1px solid gray;
  border-radius: 0px;
  background-color: white;
  font-style: normal;
  padding: 1rem 1rem;
}
blockquote.tweet > p {
  color: #000;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0;
}
@media screen and (max-width: 767px) {
  blockquote.tweet > p {
    font-size: 1.3rem;
  }
}
blockquote.tweet > cite {
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-style: normal;
  font-size: 0.9rem;
}
blockquote.tweet > cite > p {
  margin: 0;
}
blockquote.tweet > cite .author:before,
blockquote.tweet > cite .date:before {
  content: "|";
  padding: 0 0.5em;
}
.border {
  border: 1px solid red;
}
p.box {
  background-color: yellow;
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 2em 0;
}
p.update {
  background: yellow;
}
.caption {
  background: orange;
}
.align-center {
  background: red;
  margin-left: auto;
  margin-right: auto;
}
.clear-right {
  clear: right;
  background: red;
}
.clear-left {
  clear: left;
  background: red;
}
.testimonials {
  background: red;
  margin: 2em 0;
  color: black;
  text-align: center;
  line-height: 1.4;
}
.testimonials > blockquote {
  margin: 0;
  padding: 1em;
  position: relative;
  float: left;
  width: 28%;
  margin-right: 2%;
  background: #f4f4f4;
  background: linear-gradient(top, #f4f4f4, #eee);
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.testimonials > blockquote:last-child {
  margin-right: 0;
}
.testimonials > blockquote:after {
  content: "\00a0";
  display: block;
  bottom: -30px;
  left: 50px;
  width: 0;
  height: 0;
  position: absolute;
  border-width: 15px 15px;
  border-style: solid;
  border-color: #eee transparent transparent;
}
a:link,
a:visited {
  background-color: transparent;
  color: seagreen;
  text-decoration: none;
}
a:link *,
a:visited * {
  color: seagreen;
  text-decoration: inherit;
}
a:hover,
a:active {
  background-color: transparent;
  color: seagreen;
}
a:hover *,
a:active * {
  color: seagreen;
}
a:hover img,
a:active img {
  background-color: transparent;
}
figure.iframe-embed iframe {
  width: 100%;
  height: 100%;
}
figure.aspect-ratio-16-9 {
  height: calc((100vw - 2rem) * 0.5625);
}
figure img,
figure video {
  display: block;
  width: 100%;
  outline: 1px solid #cccccc;
  border-radius: 5px;
}
figure > figcaption {
  display: block;
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  padding: 0.25rem 0;
}
@media screen and (max-width: 767px) {
  figure > figcaption {
    max-width: calc(100vw - 2rem);
    margin-left: auto;
    margin-right: auto;
  }
}
figure.no-border img,
figure.no-border video {
  border: none;
  outline: none;
}
.figure-container > div.figcaption {
  display: block;
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #cccccc;
  font-size: 0.9em;
}
table caption {
  caption-side: bottom;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
}
table th {
  font-weight: 600;
  text-align: left;
  background-color: #f7f7f7;
}
table th,
table td {
  padding: 0.5em;
}
table th.number,
table td.number {
  text-align: right;
}
table th.row-header-first-column,
table td.row-header-first-column {
  font-weight: 600;
  background-color: #f7f7f7;
  border-right: 1px solid #cccccc;
}
table tr {
  border-bottom: 1px solid #cccccc;
}
table tr.result td {
  background-color: #fef6b2;
}
table.valign-middle td,
table.valign-middle th {
  vertical-align: middle;
}
table.cell-border td,
table.cell-border th {
  border-right: 1px solid #cccccc;
}
.c {
  color: #999988;
}
.err {
  color: #a61717;
  background-color: #e3d2d2;
}
.k {
  color: #000000;
  font-weight: 600;
}
.o {
  color: #000000;
}
.cm {
  color: #999988;
}
.cp {
  color: #999999;
}
.c1 {
  color: #999988;
}
.cs {
  color: #999999;
  font-weight: 600;
}
.gd {
  color: #000000;
  background-color: #ffdddd;
}
.ge {
  color: #000000;
  font-style: italic;
}
.gr {
  color: #aa0000;
}
.gh {
  color: #999999;
}
.gi {
  color: #000000;
  background-color: #ddffdd;
}
.go {
  color: #888888;
}
.gp {
  color: #555555;
}
.gs {
  font-weight: 600;
}
.gu {
  color: #aaaaaa;
}
.gt {
  color: #aa0000;
}
.kc {
  color: #000000;
  font-weight: 600;
}
.kd {
  color: #000000;
  font-weight: 600;
}
.kn {
  color: #000000;
  font-weight: 600;
}
.kp {
  color: #000000;
  font-weight: 600;
}
.kr {
  color: #000000;
  font-weight: 600;
}
.kt {
  color: #445588;
}
.m {
  color: #009999;
}
.s {
  color: rgb(254, 122, 114);
}
.na {
  color: #008080;
}
.nb {
  color: #0086b3;
}
.nc {
  color: #445588;
}
.no {
  color: #008080;
}
.nd {
  color: #3c5d5d;
}
.ni {
  color: #800080;
}
.ne {
  color: #990000;
}
.nf {
  color: #990000;
}
.nl {
  color: #990000;
}
.nn {
  color: #555555;
}
.nt {
  color: #000080;
}
.nv {
  color: #008080;
}
.ow {
  color: #000000;
}
.w {
  color: #bbbbbb;
}
.mf {
  color: #009999;
}
.mh {
  color: #009999;
}
.mi {
  color: #009999;
}
.mo {
  color: #009999;
}
.sb {
  color: rgb(254, 122, 114);
}
.sc {
  color: rgb(254, 122, 114);
}
.sd {
  color: rgb(254, 122, 114);
}
.s2 {
  color: rgb(254, 122, 114);
}
.se {
  color: rgb(254, 122, 114);
}
.sh {
  color: rgb(254, 122, 114);
}
.si {
  color: rgb(254, 122, 114);
}
.sx {
  color: rgb(254, 122, 114);
}
.sr {
  color: #009926;
}
.s1 {
  color: #c499a4;
}
.ss {
  color: #990073;
}
.bp {
  color: #999999;
}
.vc {
  color: #008080;
}
.vg {
  color: #008080;
}
.vi {
  color: #008080;
}
.il {
  color: #009999;
}
code {
  background-color: #f7f7f7;
  font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, "Roboto Mono",
    "Droid Sans Mono", Inconsolata, monospace;
  font-size: 0.825em;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}
pre.highlight {
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: none;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: inherit;
}
.box code,
.box pre.highlight,
.large-box code,
.large-box pre.highlight {
  background-color: #ebebeb;
}
pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #f7f7f7;
  font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, "Roboto Mono",
    "Droid Sans Mono", Inconsolata, monospace;
  font-weight: 400;
  font-size: 0.8em;
  font-style: normal;
  line-height: 1.4;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
}
pre code {
  background-color: transparent;
  border-radius: 0;
  font-size: 100%;
  padding: 0;
}
@media screen and (max-width: 767px) {
  pre {
    font-size: 0.7rem;
    line-height: 1.4;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.button {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-weight: 400;
}
.button:link,
.button:visited {
  color: rgba(0, 0, 0, 0.8);
}
.button:hover,
.button:active {
  background-color: seagreen;
  border: 1px solid seagreen;
  color: white;
}
.about-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-links-item {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-links-item-service {
  box-sizing: border-box;
  font-weight: 600;
  min-width: 8ex;
  padding: 0 0.5rem 0 0;
}
article.draft {
  background-color: #ffffa3;
}
body.article article.draft {
  background-color: transparent;
}
body.article article.draft > header {
  background-color: #ffffa3;
}
body.article article.draft > footer {
  background-color: #ffffa3;
}
body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0;
}
body > header {
  width: 100%;
  max-width: 768px;
  margin: auto;
}
body > main.content-container {
  box-sizing: border-box;
  flex: 1;
  margin: 0.25rem 0 0 0;
  max-width: 768px;
  padding: 0 1rem;
  width: 100%;
}
body > footer {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  box-sizing: border-box;
}
body > header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0.5rem 0rem;
}
body > header .header-bar {
  align-items: baseline;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5rem 1rem 3rem 1rem;
}
@media screen and (max-width: 767px) {
  body > header .header-bar {
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
}
body > header .site-id {
  margin: 0.8rem 0 0.5rem 0;
}
body > header .site-id a {
  border-radius: 3px;
  display: inline-block;
  margin: -0.2em -0.3em;
  padding: 0.2em 0.3em;
}
body > header .site-id a:link,
body > header .site-id a:visited {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
body > header .site-id a:link *,
body > header .site-id a:visited * {
  color: inherit;
  text-decoration: inherit;
}
body > header .site-id a:hover,
body > header .site-id a:active {
  background-color: seagreen;
  color: white;
}
body > header .site-id a:hover *,
body > header .site-id a:active * {
  background-color: seagreen;
  color: white;
}
body > header .site-id h1 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
body > header ol.links {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
body > header ol.links > li {
  display: inline-block;
  margin: 0 0.8rem;
  padding: 0;
}
body > header ol.links > li > .active {
  font-weight: 900;
}
body > header ol.links > li a {
  border-radius: 3px;
  display: inline-block;
  margin: -0.2em -0.3em;
  padding: 0.2em 0.3em;
}
body > header ol.links > li a:link,
body > header ol.links > li a:visited {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
body > header ol.links > li a:link *,
body > header ol.links > li a:visited * {
  color: inherit;
  text-decoration: inherit;
}
body > header ol.links > li a:hover,
body > header ol.links > li a:active {
  background-color: seagreen;
  color: white;
}
body > header ol.links > li a:hover *,
body > header ol.links > li a:active * {
  background-color: seagreen;
  color: white;
}
body > header ol.links > li:first-child {
  margin-left: 0;
}
body > header ol.links > li:last-child {
  margin-right: 0;
}
body > header > div.nav-container {
  flex: 0 0 100%;
  margin: 0 0 0 0;
}
body > header > div.nav-container > nav {
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1rem;
  width: 100%;
  display: none;
}
body > footer {
  align-items: flex-end;
  background-color: white;
  clear: both;
  color: #6b6b6b;
  display: flex;
  flex-flow: row wrap;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  justify-content: space-between;
  line-height: 1.4;
  margin: 3rem 0 0 0;
  padding: 0 1rem;
}
@media screen and (max-width: 767px) {
  body > footer {
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
body > footer a:link,
body > footer a:visited {
  background-color: inherit;
  color: inherit;
}
body > footer a:link *,
body > footer a:visited * {
  color: inherit;
}
body > footer a:link,
body > footer a:visited {
  text-decoration: underline;
}
body > footer a:link *,
body > footer a:visited * {
  text-decoration: inherit;
}
body > footer a:hover,
body > footer a:active {
  background-color: transparent;
  color: seagreen;
}
body > footer a:hover *,
body > footer a:active * {
  color: seagreen;
}
body > footer a:hover img,
body > footer a:active img {
  background-color: transparent;
}
body > footer .left,
body > footer .right {
  margin: 1rem 0;
}
@media screen and (max-width: 767px) {
  body > footer .left,
  body > footer .right {
    margin: 0 0 1em 0;
  }
  body > footer .left:first-child,
  body > footer .right:first-child {
    margin-top: 1em;
  }
}
body > footer .left p,
body > footer .right p {
  margin: 0;
}
body > footer .right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  body > footer .right {
    text-align: left;
  }
}
body > footer .private-notice {
  color: red;
  font-weight: 600;
  margin: 1rem 0;
}
#related-pages {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
@media screen and (max-width: 767px) {
  #related-pages {
    flex-flow: column nowrap;
  }
}
#related-page-previous,
#related-page-next {
  align-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  #related-page-previous,
  #related-page-next {
    flex: 0 0 50%;
  }
}
#related-page-previous p,
#related-page-next p {
  margin: 0;
}
#related-page-previous {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  #related-page-previous {
    border-right: 1px solid #cccccc;
    padding-right: 1rem;
  }
}
#related-page-previous .related-page-heading {
  margin-right: 0.5rem;
  order: 1;
}
#related-page-previous .related-page-date {
  order: 2;
}
#related-page-next {
  text-align: right;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  #related-page-next {
    padding-left: 1rem;
  }
}
#related-page-next .related-page-heading {
  margin-left: 0.5rem;
  order: 2;
}
#related-page-next .related-page-date {
  order: 1;
}
.related-page-heading {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
}
.related-page-date {
  color: #6b6b6b;
  font-size: 0.85rem;
}
.related-page-title {
  flex: 0 0 100%;
  font-weight: 400;
  padding: 0.1rem 0 0.1rem 0;
  order: 3;
}
.related-page-excerpt {
  flex: 0 0 100%;
  font-size: 0.9rem;
  order: 4;
}
@media screen and (max-width: 767px) {
  .related-page-excerpt {
    display: none;
  }
}
#advanced-swift-promo {
  background-color: #f7f7f7;
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #c32582;
  -o-border-image: linear-gradient(to bottom, #c32582, #562a7a) 1 100%;
  border-image: linear-gradient(to bottom, #c32582, #562a7a) 1 100%;
  display: flex;
  margin: 4rem 0 0 0;
  padding: 0 1rem;
}
@media screen and (max-width: 767px) {
  #advanced-swift-promo {
    padding: 0 0.5rem;
  }
}
#advanced-swift-promo #advanced-swift-promo-image-container {
  margin: 0 1rem 0 0;
  padding: 0.8rem 0 0.5rem 0;
  order: 1;
}
@media screen and (max-width: 767px) {
  #advanced-swift-promo #advanced-swift-promo-image-container {
    padding: 0.5rem 0 0.3rem 0;
  }
}
#advanced-swift-promo #advanced-swift-promo-image-container img {
  border: 1px solid #cccccc;
  width: 150px;
  height: 200px;
}
@media screen and (max-width: 767px) {
  #advanced-swift-promo #advanced-swift-promo-image-container img {
    width: 75px;
    height: 100px;
  }
}
#advanced-swift-promo #advanced-swift-promo-text-container {
  order: 2;
}
#advanced-swift-promo #advanced-swift-promo-text-container p {
  margin: 1rem 0;
}
@media screen and (max-width: 767px) {
  .advanced-swift-promo-text-extra {
    display: none;
  }
}
.home-section {
  margin: 0 0 3rem 0;
}
.home-section .home-section-title {
  margin: 0 0 1rem 0;
}
.home-section .home-section-content {
  font-size: 1.2rem;
}
.home-section .home-section-content .home-section-content-article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item {
  margin: 0 0 1.6rem 0;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  > article {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.2rem 0.8rem 0 0;
  order: 1;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt {
  flex: 1 1 100%;
  font-size: 1rem;
  order: 3;
  margin: 0;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link {
  color: #6b6b6b;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-left: 5px;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:hover,
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:active {
  background-color: transparent;
  color: seagreen;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:hover
  *,
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:active
  * {
  color: seagreen;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:hover
  img,
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-excerpt
  .article-excerpt-more-link:active
  img {
  background-color: transparent;
}
.home-section
  .home-section-content
  .home-section-content-article-list
  .home-section-content-article-list-item
  .home-section-content-article-list-item-date {
  order: 2;
  font-size: 1rem;
  margin: 0;
  color: #6b6b6b;
  font-weight: 400;
}
.home-section .home-section-nav {
  margin-top: 2.4rem;
  font-size: 1rem;
}
main.content-container > section > h1.page-title {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}
main.content-container > section h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 3rem 0 2rem 0;
}
main.content-container > section h2 {
  font-size: 1.4rem;
  font-weight: 300;
}
body.article article {
  margin: 0;
  padding: 0;
}
body.article article > h1,
body.article article > h2,
body.article article > h3,
body.article article > h4,
body.article article > h5,
body.article article > h6 {
  font-weight: 600;
}
body.article article div.update > *:first-child,
body.article article div.footnotes > *:first-child,
body.article article div.box > *:first-child,
body.article article aside.box > *:first-child,
body.article article figcaption > *:first-child {
  margin-top: 0;
}
body.article article div.update > *:last-child,
body.article article div.footnotes > *:last-child,
body.article article div.box > *:last-child,
body.article article aside.box > *:last-child,
body.article article figcaption > *:last-child {
  margin-bottom: 0;
}
body.article article div.footnotes {
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  margin-top: 2rem;
  padding-top: 1rem;
  position: relative;
}
body.article article div.footnotes a:link,
body.article article div.footnotes a:visited {
  background-color: inherit;
  color: inherit;
}
body.article article div.footnotes a:link *,
body.article article div.footnotes a:visited * {
  color: inherit;
}
body.article article div.footnotes a:link,
body.article article div.footnotes a:visited {
  text-decoration: underline;
}
body.article article div.footnotes a:link *,
body.article article div.footnotes a:visited * {
  text-decoration: inherit;
}
body.article article div.footnotes a:hover,
body.article article div.footnotes a:active {
  background-color: transparent;
  color: seagreen;
}
body.article article div.footnotes a:hover *,
body.article article div.footnotes a:active * {
  color: seagreen;
}
body.article article div.footnotes a:hover img,
body.article article div.footnotes a:active img {
  background-color: transparent;
}
body.article article div.footnotes:before {
  border-top: 1px solid #6b6b6b;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 5rem;
}
body.article article div.footnotes blockquote {
  border-left: 1px solid #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
}
body.article article div.footnotes .reversefootnote:link {
  text-decoration: none;
}
body.article article div.figure-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body.article article div.figure-container.wrap {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
body.article article div.figure-container.wrap > figure {
  margin: 0 0 1rem 0;
  -ms-grid-row-align: auto;
  align-self: auto;
  width: auto;
}
@media screen and (min-width: 768px) {
  body.article article div.figure-container.align-left,
  body.article article div.figure-container.align-right {
    margin-top: 0;
    margin-bottom: 0;
  }
}
body.article article div.figure-container > figure {
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: content-box;
  width: calc(100vw - 2rem);
  margin: 0;
}
@media screen and (max-width: 767px) {
  body.article article div.figure-container > figure {
    width: 100vw;
  }
}
body.article article div.figure-container > div.figcaption {
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: content-box;
  width: calc(100vw - 2rem);
  margin: 0;
  padding: 0 1rem;
}
@media screen and (max-width: 767px) {
  body.article article > div.highlight,
  body.article article > div.table-container {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
body.article article > div.table-container {
  display: flex;
  flex-flow: column nowrap;
}
body.article article > div.table-container > table {
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: border-box;
  max-width: calc(100vw - 2rem);
  margin: 0;
}
body.article article > div.table-container > table > caption {
  max-width: calc(100vw - 2rem);
}
@media screen and (max-width: 767px) {
  body.article article > div.table-container {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  body.article article > div.table-container > table {
    align-self: flex-start;
    max-width: 100vw;
    width: 100vw;
  }
  body.article article > div.table-container > table > caption {
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: calc(100vw - 2rem);
  }
}
body.article article div.flexible-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin-top: 2rem;
}
body.article article div.flexible-grid div.card {
  margin-bottom: 2rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  body.article article div.flexible-grid div.card {
    flex-flow: column nowrap;
    padding-right: 1rem;
    width: calc(33% - 1rem);
  }
}
@media screen and (max-width: 767px) {
  body.article article div.flexible-grid div.card {
    flex-flow: row nowrap;
    width: 100%;
  }
}
body.article article div.flexible-grid div.card div.card-header-image img {
  outline: 1px solid #cccccc;
}
@media screen and (min-width: 768px) {
  body.article article div.flexible-grid div.card div.card-header-image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  body.article article div.flexible-grid div.card div.card-header-image img {
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  body.article article div.flexible-grid div.card-text {
    margin-left: 1rem;
  }
}
body.article article div.flexible-grid div.card-text h3 {
  font-weight: 400;
  margin: 0.5rem 0;
}
body.article article > header {
  margin: 0;
}
body.article article > header > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.2rem;
  text-align: left;
}
body.article article > header > h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #6b6b6b;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  text-align: left;
}
body.article article > footer {
  margin-bottom: 2rem;
}
body.article article > footer div.metadata {
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  text-align: left;
}
body.article article > footer div.metadata > p {
  display: inline;
  margin: 0;
}
body.article article > footer div.metadata > p:after {
  content: " / ";
}
body.article article > footer div.metadata > p:last-child:after {
  content: none;
}
body.article article > footer div.metadata .author-footnotes {
  display: none;
}
body.article article > footer div.updates {
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9em;
  margin-top: 0.8em;
}
body.article article > footer div.updates > p {
  margin: 0;
}
body.article article > footer div.updates > ol {
  margin: 0;
  list-style: none;
  padding: 0;
}
body.article article > footer div.updates > ol li {
  margin: 0;
  padding: 0;
}
body.article article > footer div.updates > ol li .update-item-date {
  font-weight: 600;
}
body.article article > footer div.updates > ol li .update-item {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
}
body.article article > footer div.updates > ol li .update-item-date {
  flex-basis: 13ex;
}
body.article article > footer div.updates > ol li .update-item-description {
  flex: 1;
}
@media screen and (max-width: 767px) {
  body.article article > footer div.updates > ol li .update-item {
    margin-bottom: 1rem;
    flex-flow: column nowrap;
  }
  body.article article > footer div.updates > ol li .update-item-date {
    flex-basis: 0;
  }
}
body.article article > footer div.series {
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9em;
  margin-top: 0.8em;
}
body.article article > footer div.series > p {
  margin: 0;
}
body.article article > footer div.series > ol {
  margin: 0;
  list-style: none;
  padding: 0;
}
body.article article > footer div.series > ol li {
  margin: 0;
  padding: 0;
}
body.article article > footer div.series > ol li.active > p:after {
  content: " (this one)";
}
body.article article > footer div.series > ol li p {
  margin: 0;
}
body.archive main.content-container > section > header > h1 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0.8rem 0.25rem 0;
}
body.archive main.content-container > section > header div.metadata {
  display: inline-block;
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin: 0;
}
body.archive main.content-container > section > header div.metadata > p {
  margin: 0;
}
body.archive main.content-container > section > ol.years {
  list-style: none;
  padding: 0;
}
body.archive main.content-container > section > ol.years > li {
  margin: 3.2rem 0;
}
body.archive main.content-container > section > ol.years > li > h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body.archive main.content-container > section > ol.years > li > ol.articles {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.archive
  main.content-container
  > section
  > ol.years
  > li
  > ol.articles
  > li {
  margin: 0.6rem 0;
  padding: 0;
}
body.archive
  main.content-container
  > section
  > ol.years
  > li
  > ol.articles
  > li
  article {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  margin: 0.2rem 0;
}
body.archive
  main.content-container
  > section
  > ol.years
  > li
  > ol.articles
  > li
  article
  > a
  > div.title
  > h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin: 0;
  padding: 0 0.8rem 0 0;
}
body.archive
  main.content-container
  > section
  > ol.years
  > li
  > ol.articles
  > li
  article
  > div.date {
  color: #6b6b6b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
  margin: 0 1em 0 0;
  text-align: right;
}
